<%= form_for(@event, html: { multipart: true }) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= f.label :date_at %><br>
    <%= f.datetime_select :date_at %>
  </div>
  <div class="form-group field">
    <%= f.label :date_to %><br>
    <%= f.datetime_select :date_to %>
  </div>
  <div class="form-group field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="form-group field">
    <%= f.label :tags_string %><br>
    <%= f.text_field :tags_string %>
  </div>
  <div class="form-group field">
    <%= f.label :place_string %><br>
    <%= f.text_field :place_string %>
  </div>
  
  <span style="cursor: pointer" onclick="$('.new-pictures').show(); $(this).hide()">Click to upload new pictures</span>
  <div class="new-pictures" style="display: none">
  <div class="form-group">
    <label for="file1">Picture 1</label>
    <%= file_field_tag :file1 %>
  </div>
  <div class="form-group">
    <label for="file2">Picture 2</label>
    <%= file_field_tag :file2 %>
  </div>
  <div class="form-group">
    <label for="file3">Picture 3</label>
    <%= file_field_tag :file3 %>
  </div>
  <div class="form-group">
    <label for="file4">Picture 4</label>
    <%= file_field_tag :file4 %>
  </div>
  <div class="form-group">
    <label for="file5">Picture 5</label>
    <%= file_field_tag :file5 %>
  </div>
  <div class="form-group">
    <label for="file6">Picture 6</label>
    <%= file_field_tag :file6 %>
  </div>
  <div class="form-group">
    <label for="file7">Picture 7</label>
    <%= file_field_tag :file7 %>
  </div>
  <div class="form-group">
    <label for="file8">Picture 8</label>
    <%= file_field_tag :file8 %>
  </div>
  <div class="form-group">
    <label for="file9">Picture 9</label>
    <%= file_field_tag :file9 %>
  </div>
  <div class="form-group">
    <label for="file10">Picture 10</label>
    <%= file_field_tag :file10 %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
