<p id="notice"><%= notice %></p>

<p>
  <strong>Organizator:</strong>
  <%= @event.user.name %>
</p>

<p>
  <strong>Date at:</strong>
  <%= @event.date_at %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @event.date_to %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @event.tags_string %>
</p>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
