<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Events calendar</a>
      </div>
      <% if user_signed_in? %>
			<ul class="nav navbar-nav">
        <li><%= link_to "Index", events_path(:upcoming => 1) %></li>
        <li><%= link_to "Create new event", new_event_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
      <% end %>
    </div>
  </nav>
  <div class="container">
    <div class="col-xs-12">
      <% if notice %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
      <% end %>
    </div>
    <% if user_signed_in? %>
    <div class="col-sm-3">
      <div class="media profile-box">
        <div class="media-left">
          <a class="pull-left margin-15">
            <%= image_tag current_user.avatar.url(:thumb), class: "media-object img-circle" %>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= current_user.name %></h4>
          <%= link_to "Edit profile", edit_user_registration_path %>
        </div>
      </div>
      <ul class="list-group">
        <a href="<%= events_path(:invitations => 1, :upcoming => 1) %>" class="list-group-item">
          <span class="badge"><%= Event.joins(:subscriptions).where("events.date_at >= ?", Time.now).where("subscriptions.user_id = ?", current_user.id).where("subscriptions.state = ?", "request").count %></span>
          Invitations
        </a>
        <a href="<%= events_path(:subscribed => 1, :upcoming => 1) %>" class="list-group-item">
          <span class="badge"><%= Event.joins(:subscriptions).where("events.date_at >= ?", Time.now).where("subscriptions.user_id = ?", current_user.id).where("subscriptions.state = ?", "yes").count %></span>
          Upcoming events
        </a>
        <a href="<%= events_path(:user_id => current_user.id, :upcoming => 1) %>" class="list-group-item">
          <span class="badge"><%= Event.where(:user => current_user).where("date_at >= ?", Time.now).count %></span>
          Organized events
        </a>
      </ul>
      <div>
				<div id="calendar"></div>
				<!--script>
      	  $(document).ready(function() {
    				$('#calendar').fullCalendar({
                firstDay: 1
       			 // put your options and callbacks here
			    	})
					});
				</script-->
      </div>
    </div>
    
    <% end %>
    <div class="col-sm-9">
      <%= yield %>
    </div>
  </div>
</body>
</html>
